#page-logo {
    margin: 0 2em;
    width: 10%;
}

html,
body {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Work Sans', sans-serif;
}

body {
    background: radial-gradient(circle at left top, #898c90, #000000);
    margin: 0;
}

.container {
    margin: -1em 12em 5em 5em;
    /*position: absolute;*/
    width: 95%;
    height: 60%;
}

.div-write-text {
    float: left;
    width: 50%;
    margin-left: 5em;
    height: auto;
}

#text {
    box-shadow: 0.1em 0.1em 0.5em 0.1em #4e0000;
    color: #4e0000;
    background: radial-gradient(circle at center, #898c90, #b1aaaa);
    border-radius: 1em;
    border: 0;
    font-size: 1.2em;
    width: 90%;
    height: auto;
    resize: none;
    padding-left: 2em;
}

#info {
    margin-top: 1em;
}

#info-img {
    width: 1em;
}

#btn-encrypt {
    font-weight: bold;
    box-shadow: 0.1em 0.1em 1em 0.1em #4e0000;
    color: #FFFFFFFF;
    background-color: #4e0000;
    border-radius: 20px;
    width: 40%;
    padding: 1em;
    border: none;
}

#btn-encrypt:hover {
    cursor: pointer;
    background-color: #4e0000;
    font-size: 0.9em;
    transition: font-size 0.1s;
}

#btn-decrypt {
    box-shadow: 0.1em 0.1em 1em 0.1em #000000;
    color: #000000;
    background-color: #cdd6d0;
    border-radius: 20px;
    width: 40%;
    padding: 1em;
    margin-left: 1em;
    border: 1px solid #000000;
    font-weight: bold;
}

#btn-decrypt:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cdd6d0;
    font-size: 0.9em;
    transition: font-size 0.1s;
}

::-webkit-input-placeholder {
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    padding-left: 0.5em;
}

::-moz-placeholder {
    color: #4e0000;
}

#clear-content {
    width: 2em;
    height: 2em;
    vertical-align: top;
    border: none;
    background-color: #898c90;
}

#clear-content:hover {
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    transition: font-size 0.1s;
    background-color: #898c90;
}

.div-show-text {
    float: left;
    width: 30%;
    height: 35em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 20px;
    background: radial-gradient(circle at center, #898c90, #b1aaaa);
    box-shadow: 0.1em 0.1em 1em 0.1em #4e0000;
    text-align: center;
    overflow-y: auto;
}

#notfound-img {
    width: 60%;
    padding-top: 5em;
    padding-left: 2em;
    opacity: 0.4;
}

#notfound-text {
    text-align: center;
    line-height: 1.5em;
}

strong {
    font-size: 1.5em;
}

#copy {
    color: #000000;
    background-color: #cdd6d0;
    border-radius: 20px;
    padding: 1em;
    margin: 0 0 1.5em 0;
    border: 1px solid #000000;
    width: 80%;
    box-shadow: 0.1em 0.1em 1em 0.1em #000000;
}

#copy:hover {
    cursor: pointer;
    color: #000000;
    background-color: #cdd6d0;
    font-size: 0.9em;
    transition: font-size 0.1s;
}

footer {
    margin-top: 10em;
    background-image: url('img/bg.jpg');
    text-align: center;
    display: inline;
}

#logo-footer {
    width: 30%;
    padding: 5em 0 3em 0;
}

.text-footer {
    color: #FFFFFFFF;
    position: relative;
    bottom: 1em;
}

@media screen and (max-width:730px) {
    html,
    body {
        display: flex;
        flex-direction: column;
    }
    #page-logo {
        margin: 0 0;
        width: 25%;
    }
    .container {
        position: static;
    }
    .div-write-text {
        width: 100%;
        margin-top: 1em;
        margin-left: -4em;
    }
    #text {
        height: 15em;
        width: 90%;
        margin-top: 3em;
    }
    img,
    p,
    button {
        margin: 0;
        padding: 0;
    }
    #btn-encrypt,
    #btn-decrypt {
        width: 100%;
        display: inline-block;
        margin-top: 1em;
        margin-left: 0;
    }
    #clear-content {
        position: relative;
        left: 90%;
        top: -20em;
    }
    #clear-content-img {
        padding: 0.2em 0.2em 0 0;
    }
    .div-show-text {
        width: 90%;
        margin: 4em 1em 1em -4em;
        height: 15em;
    }
    #notfound-img {
        visibility: hidden;
    }
    #notfound-text {
        padding: 2em 0 2em 0;
        margin: 0 0 0 0;
    }
    #copy {
        width: 80%;
    }
}